body{
    margin:1px;
    padding:0px;
    overflow:scroll;
}
.navigation{
    height:200px;
    width:90%;
}
.nav{
    margin-left:70%;
    word-spacing: 20px;
}
.a1{
    margin-top:-33px;
    margin-left:90px;
}
.a2{
    height:500px;
    width:111%;
    margin:1px;
    padding:0px;
}
.a3{
    margin-top:-340px;
    color:rgb(72, 52, 52);
    margin-left:70%;
    font-size: 40px;


}
.b1{
    margin-top:380px;
    text-align:center;
    font-size:33px;
}
.b2{
    text-align: center;
    margin-top:-14px;
}
.b3{
    margin-top:3%;
    margin-left:10%;
    
}.b4{
    height:171px;
    margin-left:2.8%;
}
.b5{
    height:171px;
    margin-left:2.8%;
}
.b6{
    font-family: 'Times New Roman', Times, serif;
    font-size:22.9px;
    margin-left:18.5%;

}
.b7{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22.9px;
    margin-left:46%;
    margin-top: -49.7px;
}
.b8{
    font-family: 'Times New Roman', Times, serif;
    margin-left:68%;
    font-size: 22.9px;
    margin-top:-49.7px;
}
.img1{
    margin-top:90px;
    height:350px;
    width:100%;
    
}
.c1{
    text-align: center;
    margin-top:-250px;
    color:black;
    font-size: 35px;
}
.c2{
    text-align: center;
    color:white;
    margin-top: -15px;
    font-size: 17px;
}.d1{
    text-align: center;
    font-size: 35px;
    margin-top:230px;
}
.d2{
    height:75px;
    margin-left:200px;
}
.d5{
    margin-left:152px;
}
.d6{
    border:1px;
    margin-left:97px;
}
.d3{
    height:88px; 
    margin-left:72%;
    margin-top:-90px;   
}
.d7{
    margin-left: 870px;
    margin-top:-115px;
}
.d8{
    margin-left: 780px;
    margin-top: -10px;
}
.partner{
    margin-top: 120px;
    height:240px;
    background-color:rgb(221, 221, 221);
}
.q1{
    text-align: center;
    font-size: 30px;
    
}
.q1{
    position: relative;
    top:36px;
}
.q2{
    height:90px;
    margin-left: 250px;
    margin-top: 40px;
}
.q3{
    height:90px;
    margin-left: 90px;
    margin-top: 25px;
}
.q4{
    height:90px;
    margin-left: 90px;
    margin-top: 25px;
}
.q5{
    height:90px;
    margin-left: 90px;
    margin-top: 25px;
}
.world{
    margin-top: 10px;
    height:280px;
    width:100%;
    /* background-image: url(); */
}
.w1{
    color:white;
    text-align: center;
    margin-top:-190px;
    font-size: 35px;
}
.w2{
    text-align: center;
    color:white;
    margin-top:-20px;
}
.footer{
    margin-top:10px;
    height:200px;
    width:100%;
    background-color: black;
}
.f1{
    position: relative;
    top:60%;
    color:white;
}
.f1{
    margin-left: 8%;
    
}
.social{
    
    margin-left:80%;
    margin-top: 97px;
    word-spacing: 25px; 
}